include 'basicInputForm'

function zxcv()
 p asdfasdfasdfasdfasdfasdfasd
 - console.log("qwer")



.rootViewWrapperDebate
 div
  != Template.loginTemplate({"optional_data_object":"goes here"})
 include 'sortFilterButtons'

 div(class="row" style="padding-top:#{Session.get('headerHeight')}px")
  .small-3.columns
   p blank
  .small-9.columns
   .mainContent.row
    isolate
     include 'tauntList'
   .footer.row
    .small-12.large-12.columns
     .panel
      h4 boomer.com