form
 .row.collapse
  label Input Label
 .row.collapse
  .large-5.small-8.columns
   label Taunt
   input(type="text" class="tauntInput")
  .large-5.small-8.columns
   label Tags
   input(type="text" class="tagsInput")
  .large-2.small-3.columns
   label &nbsp;
   button.postfix.button.expand enter